@model ContactoModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Editar Contacto
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Mantenedor" method="post">

            <input asp-for="IdContacto" type="hidden" class="form-control">

            <div class="alert alert-dark" role="alert">
                ¿Está seguro que quiere eliminar este contacto : @Html.DisplayTextFor(model => model.Nombre) ?
            </div>

            <button type="submit" class="btn btn-primary"><i class="bi bi-person-dash"></i> Eliminar</button>
            <a asp-action="Listar" asp-controller="Mantenedor">Volver a la lista</a>
        </form>
    </div>
</div>

